table {
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
    border-bottom: 2px solid #ccc;
}

th {
    color: white;
    padding: 10px;
}

.forecast-panel {
    max-height: 600px;
    overflow-y: auto;
    position: relative;
}
